.navbar-brand {
    margin-left: 20px;
    margin-top: 15px;
    font-weight: bold;
}

.salonu {
    position: relative;
    margin-left: 800px;
    margin-top: 10px;
    font-size: 25px;
    color: aliceblue;
}

.salonu:hover {
    color: aliceblue;
}

.cijene {
    position: relative;
    margin-top: 10px;
    font-size: 25px;
    margin-left: 40px;
    color: aliceblue;
}

.cijene:hover {
    color: aliceblue;
}

.kontakt {
    position: relative;
    margin-top: 10px;
    font-size: 25px;
    margin-left: 40px;
    color: aliceblue;
}

.kontakt:hover {
    color: aliceblue;
}
.row {
    color: aliceblue;
}

nav {
    position: fixed;
}

.slika {
    width: 700px;
    margin-left: 320px;
    margin-top: 20px;
}

.oko-slike {
    background-color: beige;
    background-image: url("https://images.unsplash.com/photo-1529480653440-0e5fd1af911c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80")
}

.o-salonu {
    font-size: 50px;
    border: 3px solid black;
    display: inline;
    border-radius: 30px;
    color:black;
    padding: 5px;
    font-family: monospace;
    margin-left: 250px;
}

#opis {
    position: relative;
    width: 100%;
    margin-top: 50px;
    
}

.def {
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.sve {
    background-image: url("https://images.unsplash.com/photo-1509624776920-0fac24a9dfda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80")
}

.o-c {
    font-size: 50px;
    border: 3px solid black;
    border-radius: 30px;
    color:black;
    font-family: monospace;
    margin-left: 250px;
    padding: 5px;
    margin-top: 40px;
    display: inline-block;
}

.z {
    margin-left: 670px;
    margin-top: 220px;
}

.ms {
    margin-left: 770px;
    margin-top: -300px;
}

.zs {
    margin-left: -550px;
    margin-top: -300px;
}

td {
    height: 50px;
    vertical-align: bottom;
}

table {
    width: 500px;
}
  
th {
    height: 10px;
}

th, td {
    border-bottom: 1px solid #ddd;
}

.k {
    font-size: 50px;
    border: 3px solid black;
    border-radius: 30px;
    color:black;
    font-family: monospace;
    margin-left: 250px;
    padding: 5px;
    margin-top: 170px;
    display: inline-block;
}

h5 {
    text-align: left;
    margin-left: 100px;
}

.pos {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    padding: 7px 15px;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 25px;
    background-color: lightsteelblue;
}

.last {
    margin-left: 40px;
    font-size: 30px;
    font-family: monospace;
}

footer {
    background-color: black;
}

.copy {
    color: aliceblue;
    font-family: monospace;
    font-size: 23px;
}

.slic {
    display: inline;
    color: aliceblue;
    font-family: monospace;
}